<h1>Productos</h1>

{{#if listExists}}
<table>
    <tr>
        <td>Nombre</td>
        <td>Precio</td>
        <td>Imagen</td>
    </tr>
    {{#each productos}}
    <tr>
        <td class={{this.id}}>{{this.Nombre}}</td>
        <td class={{this.id}}>{{this.Precio}}</td>
        <td class={{this.id}}><img src={{this.Url}}></td>
    </tr>
        
    {{/each}}
</table>
{{/if}}
<br>
        <a href="/">
        <button>ir a form</button>
        
        </a>